{% extends 'base.html' %}

{% block content %}
<h2>Lista de Animes</h2>
<div class="anime-list">
    {% for anime in animes %}
    <div class="anime-card">
        <img src="{{ url_for('static', filename='images/hq720.png') }}" alt="Capa de {{ anime.nome }}">
        <div class="anime-info">
            <h3>{{ anime.nome }}</h3>
            <p><strong>Gênero:</strong> {{ anime.genero }}</p>
            <p><strong>Episódios:</strong> {{ anime.episodios }}</p>
        </div>
    </div>
    {% else %}
    <p>Nenhum anime disponível no momento.</p>
    {% endfor %}
</div>
{% endblock %}
